# ==========================================================
# Build
# ==========================================================

dist/
build/
bin/

# ==========================================================
# Go
# ==========================================================

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
coverage.html

# ==========================================================
# macOS
# ==========================================================

.DS_Store
.AppleDouble
.LSOverride

# ==========================================================
# IDE
# ==========================================================

.vscode/settings.json
.idea/

# ==========================================================
# Logs
# ==========================================================

*.log

# ==========================================================
# Temporary
# ==========================================================

tmp/
temp/

**/.DS_Store
Icon?